/* 'B612' */
@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");

:root {
  --yellow: #ffa800;
  --blue: #0072d2;
  --branco: #fff;
  --preto: #131318;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "B612", sans-serif;
  background-image: url("./../../images/fundo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--branco);
}

#header__subtitulo {
  font-size: 2rem;
}

#header__titulo {
  font-size: 9.6rem;
  text-align: center;
}

.container-setas-carrossel {
  display: flex;
  justify-content: space-between;

  padding: 0 40px;
}

.container-setas-carrossel img {
  width: 40px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  gap: 73px;

  margin: 0 200px;
}

#capa-filme {
  max-width: 184px;
}

.main__descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__descricao p {
  font-size: 2rem;
  line-height: 3.2rem;

  color: var(--branco);
}

.main__detalhes {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 750px;
}

#main__duracao {
  display: flex;
  align-items: center;
}

#main__duracao img {
  margin-right: 15px;
}

.botoes button {
  padding: 15px 27px 15px 27px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;

  color: var(--branco);
}

#btn__assistir-agora {
  background-color: var(--blue);
  border: none;
}

#btn__trailer {
  background-color: var(--preto);
  border: 1px solid var(--branco);
}
